@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --chess-dark: #0B0E14;
  --chess-gold: #C9A24D;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-chessDark: var(--chess-dark);
  --color-chessGold: var(--chess-gold);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--chess-dark);
    --foreground: #ededed;
  }
}

html,
body {
  cursor: none !important;
}

a,
button,
* {
  cursor: none !important;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
